.parrafo{
    text-align: justify;
    font-family: 'Merienda', cursive;
    font-family: 'Source Sans Pro', sans-serif;
}

.texto{
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}