.parrafo{
    text-align: justify;
    font-family: 'Merienda', cursive;
    font-family: 'Source Sans Pro', sans-serif;
}

.texto{
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footer{
    color: #000;
    text-align: center;
    padding: 2em;
}

.footer .footer-title{
    font-size: 20px;
    font-weight: 600;
}

.footer p{
    font-size: 16px;
    margin-top: 10px;
}

.footer p a{
    color: #3a6cf4;
    font-weight: 600;
    text-decoration: none;
}